# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
env/
.qtcreator/
.qtc_clangd/

# IDE & editor files
*.creator
*.user
*.pro.user
*.pyproj
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
tmp_*
settings/ads_perspectives.ini
